[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"
django-environ = "*"
dj-database-url = "*"
psycopg2 = "*"
django-rest-knox = "*"

[requires]
python_version = "3.8"
